.grid_8
  .form_box
    = form_for(resource, :as => resource_name, :url => user_confirmation_path, :html => { :method => :post }) do |f|
      %h3 Resend confirmation instructions
      .errors
        = devise_error_messages!
      .hr.dotted.clearfix
      %ul
        %li.clearfix
          = f.label :email
          = f.email_field :email
          .clear
        %li.clearfix
          #button
            = f.submit "Resend", id: 'send_message', class: 'button'
            .clear

  .clear
  .links
    = link_to "Sign in", main_app.new_user_session_path
    |
    = link_to "Sign up", main_app.new_user_registration_path
    |
    = link_to "Forgot your password?", main_app.new_user_password_path
  .clear_gap

