<% content_for :page_js do %>
	<% if @selected_admin_user %>
	  $(function(){
	      $.fn.highlightItem('<%= @selected_admin_user.id %>');
	  });
	<% end %>
<% end %>
<article class="module width_3_quarter">
<header><h3 class="tabs_involved">Admin Users</h3>
	<div class="new_button_frame">
	 	<%= form_tag main_app.new_admin_path, method: "get" do %>
			<%= submit_tag "Create New", class: "alt_btn" %>
		<% end %>
	</div>
</header>

<div class="tab_container">
	<div id="tab1" class="tab_content">
	<table class="tablesorter" cellspacing="0"> 
	<thead> 
		<tr>
			<th><input type="checkbox"></th>
			<th>Id</th>
			<th width="280px">Name</th>
			<th>Email</th>
			<th>Created At</th>
			<th>Actions</th>
		</tr> 
	</thead> 
	<tbody> 
		<% @admin_users.each do |admin_user| %>
			<tr id="asset_item_<%= admin_user.id %>"> 
	 				<td><input type="checkbox"></td> 
	  				<td><%= admin_user.id %></td> 
	  				<td><%= admin_user.first_name %> <%= admin_user.last_name %></td> 
	  				<td><%= admin_user.email %></td>
	                <td><%= display_date admin_user.updated_at %></td> 
	  				<td>
						<%= link_to image_tag('/assets/appyantra_admin/view.png', title: 'View'), 
						            main_app.admin_profile_path(admin_user),
						            remote: true
						  %>
						<%= link_to image_tag('/assets/appyantra_admin/icn_edit.png', title: 'Edit'), 
						            main_app.edit_admin_profile_path(admin_user)
						  %>
						<% if current_admin != admin_user %>  
						  <%= link_to image_tag('/assets/appyantra_admin/trash.png', title: 'Delete'), 
						              main_app.delete_admin_profile_path(admin_user), confirm: 'Are you sure?', method: :delete %>
						<% end %>
					</td> 
			</tr>
		<% end %>  
	</tbody> 
	</table>
	</div><!-- end of #tab1 -->
	
</div><!-- end of .tab_container -->

</article><!-- end of article -->

	<div id="display_asset_item">
		<% if @selected_admin_user %>
		  <%= render partial: '/appyantra_admin/shared/asset_item', locals: {asset_object: @selected_admin_user }%>
		<% end %>
	</div>	

<div class="clear"></div>