- content_for :page_js do
  - if @asset_object
    $(function(){
    $.fn.highlightItem('#{@asset_object.id}');
    });
.article
  %article.module.width_3_quarter
    %header
      %h3.tabs_involved
        List of #{@asset_name.pluralize}
      .new_button_frame
        = form_tag "/appyantra_admin/assets/#{ @asset_name }/new", method: "get" do
          = submit_tag "Create New", class: "alt_btn"
    .tab_container
      #tab1.tab_content
        %table.tablesorter{:cellspacing => "0"}
          %thead
            %tr
              %th
                %input{:type => "checkbox"}/
              %th Id
              %th{:width => "280px"}= asset_display_field @asset_name
              %th Created At
              %th Updated At
              %th Actions
          %tbody
            - @asset_objects.each do |asset_object|
              %tr{:id => "asset_item_#{asset_object.id}"}
                %td
                  %input{:type => "checkbox"}/
                %td= asset_object.id
                %td= asset_display_name asset_object
                %td= display_date asset_object.created_at
                %td= display_date asset_object.updated_at
                %td
                  = link_to image_tag('/assets/appyantra_admin/view.png', title: 'View'), |
                    "/appyantra_admin/assets/#{@asset_name}/#{asset_object.id}/display",  |
                    remote: true                                                          |
                  -#
                  = link_to image_tag('/assets/appyantra_admin/icn_edit.png', title: 'Edit'), |
                    "/appyantra_admin/assets/#{@asset_name}/#{asset_object.id}/edit"          |
                  = link_to image_tag('/assets/appyantra_admin/trash.png', title: 'Delete'), "/appyantra_admin/assets/#{@asset_name}/#{asset_object.id}", confirm: 'Are you sure?', method: :delete
            - if @asset_objects.empty?
              %tr
                %td
                %td{:colspan => "5"}
                  %strong= @asset_name
                  has no assets!
          / end of #tab1
    / end of .tab_container
  / end of article
#display_asset_item
  - if @asset_object
    = render partial: '/appyantra_admin/shared/asset_item', locals: {asset_object: @asset_object }
.clear
