%article.module.width_3_quarter
  %header
    %h3.tabs_involved Website Pages
    .new_button_frame
      = form_tag main_app.new_appyantra_admin_page_path, method: "get" do
        = submit_tag "Create New", class: "alt_btn"
  .tab_container
    #tab1.tab_content
      %table.tablesorter{:cellspacing => "0"}
        %thead
          %tr
            %th
              %input{:type => "checkbox"}/
            %th Id
            %th{:width => "280px"} Title
            %th Category
            %th Updated at
            %th Updated by
            %th Actions
        %tbody
          - @pages.each do |page|
            %tr{:id => "asset_item_#{page.id}"}
              %td
                %input{:type => "checkbox"}/
              %td= page.id
              %td= page.title
              %td= page.category
              %td= display_date page.updated_at
              %td= link_to page.last_updated_by.display_name, main_app.edit_appyantra_admin_user_path(page.last_updated_by)
              %td
                = link_to image_tag('/assets/appyantra_admin/view.png', title: 'View'), |
                  main_app.appyantra_admin_page_path(page)
                -#
                = link_to image_tag('/assets/appyantra_admin/icn_edit.png', title: 'Edit'), |
                  main_app.edit_appyantra_admin_page_path(page)                              |
                -#
                = link_to image_tag('/assets/appyantra_admin/trash.png', title: 'Delete'),                  |
                  main_app.appyantra_admin_page_path(page), confirm: 'Are you sure?', method: :delete |
          - if @pages && @pages.empty?
            %tr
              %td
              %td{ colspan: 5}
                No pages found.
    / end of #tab1
  / end of .tab_container
/ end of article
