%article.module.width_full
  %header
    %h3
      Create New Setting (#{@entity_type})
  = render partial: '/appyantra_admin/shared/formtastic_semantic_form', |
    locals: { form_object: @entity_object,                              |
    url: "/appyantra_admin/settings/#{@group}/#{@entity_type}/#{@setting_name}" }
