<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title><%= setting_value 'site_name', 'AppYantra Admin' %> | <%= @page_title %></title>
	  <%= stylesheet_link_tag    "appyantra_admin/application" %>
	  <%= javascript_include_tag "appyantra_admin/application" %>
	  <%= csrf_meta_tags %>
	
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="appyantra_admin/ie.css" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<script type="text/javascript">
    	$(function(){
	        $('a.close_btn').click(function(){
		      $(this).parent().hide();
		    });
	    });
	</script>
</head>


<body>

	<header id="header">
		<hgroup>
			<h2 class="section_title landing_header"><%= setting_value 'site_name', 'AppYantra Admin' %></h2>
		</hgroup>
	</header> <!-- end of header bar -->
	
	<section id="main" class="column landing_alert">
	  <%- flash.each do |k, v| %>
		<h4 class="<%= k %>"><%= v %><a class="close_btn">x</a></h4>
	  <% end %>
	  <%= yield %>
	</section>

</body>

</html>
